/* Food.module.css */

.drinks {
    background-color: var(--background);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--accent);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .drinksTitle {
    color: var(--accent);
    margin-bottom: 10px;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .image {
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .drinksLink {
    color: var(--accent);
    text-decoration: none;
  }
  
  .drinksLink:hover {
    color: var(--accent-hover);
  }
