.body {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.text {
  line-height: 1.6;
}

.title {
  margin-top: 20px; 
}

.input {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  background-color: var(--accent);
  color: var(--text);
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--accent-hover);
}

.hiddenText{
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 12%;
  cursor: default;
}