.container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-color: var(--background);
  }

  .back_btn {
    background-color: var(--accent);
    border: none;
    color: var(--text);
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px;
    position: absolute;
    top: 10px;
    left: 10px;
    transition-duration: 0.4s;
  } 
  
  .back_btn:hover {
    background-color: var(--accent-hover);
  }

  .form_container {
    width: 350px;
    height: 300px;
    padding: 40px;
    background-color: var(--primary);
    border: none;
    border-radius: 12px;
  }
  
  .form_container h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--text);
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form_group {
    margin-bottom: 20px;
  }
  
  .form_group input {
    width: 100%;
    padding: 4% 8%;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .error_message {
    color: var(--accent);
  }
  
  .submit_btn {
    background-color: var(--accent);
    border: none;
    color: var(--text);
    padding: 5% 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 0;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.4s;
  }
  
  .submit_btn:disabled {
    cursor: not-allowed;
  }
  
  .submit_btn:hover {
    background-color: var(--accent-hover);
  }
  
  .text {
    color: var(--accent);
    text-align: center;
    font-size: 20px;
  }
