
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    justify-content: center;
  }
  
  .text {
    line-height: 1.6;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .link {
    color: #007bff;
    text-decoration: none; 
  }
  
  .link:hover {
    text-decoration: underline;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    color: var(--text);
    border: none;
    padding: 20px 70px;
    border-radius: 5px;
    margin: auto;
    font-size: 20px;
  }
  
  .button:hover {
    background-color: var(--accent-hover);
  }

  .buttonLink {
    text-decoration: none;
  }

  .map {
    border: 0;
    border-radius: 10px;
  }
  
  