.main {
    margin: 4em 1.5em 1em;
    flex-grow: 1;
}

@media (min-width: 600px) {
    .main {

        margin: 4em 3em 1em;
    }
}

@media (min-width: 1000px) {
    .main {
        width: 70%;
        margin: 4em auto 1em;
    }
}